*{
    margin: 0px;
    padding: 0px;
 
    font-family: 'Righteous', cursive;
    
}
:root{
    --primary-color: orange;
    --secundary-color: orangered;
    --white: #ffffff;
    --space-default: 70px;
}
body{
background: linear-gradient(180deg, var(--primary-color), var(--secundary-color));
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: var(--space-default);
  padding-top: var(--space-default);
  padding-right: var(--space-default);
  padding-bottom: 24px;
  
}
header{
height: 48px;
display: flex;
align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 16px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    color: var(--secundary-color);

}
main{
flex-grow: 1;
display: grid;
grid-template-columns: repeat(12, 3fr);



}
.title{
grid-column: 1/-1;
place-self:  start center;
font-family: Righteous;
position: relative;
}
.title-text{
    font-size: 15vw;
   color: white;
    
}
.title-transparent{
    font-size: 20vw;
    position: absolute;
    color: var(--white);
    opacity: 0.1;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-60%);
    z-index: -1;
}
.description{
grid-column: 1/7;
place-self:center start;


}
.description-title{
    font-size: 4rem;
    color: var(--primary-color);

}
.description-text{
    font-size: 1.2rem;
    width: 600px;
    color: var(--white);
    
}
.button{
    grid-column: 7/-1;
    place-self:center end;
    height: 70px;
    width: 411px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    border-radius: 10px ; 
    background: var(--secundary-color);
    text-align: center;
    padding: 20px;

}

.button > a{
    text-decoration: none;
    text-align: center;
     color: var(--white);
     text-align: center;
  
}

.Img-charizard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    
    
}
footer{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

}
/*Tablet*/
@media screen  and (max-width:1024px){
    :root{
        --space-default: 30px;
    }
    main{
        grid-template-columns: 1fr;
    }
    .title{
        place-self: start center;
    }
   
    .description{
        grid-row: 2;
        grid-column: 1;
        place-self: center ;
      
    }
  
    .description-text{
        text-align: center;
    }
     .Img-charizard{
        transform: translate(-50%, -60%);
     
    }

    .button{
        grid-row: 2;
        grid-column: 1;
        place-self: end center ;
    
    }


    footer{
        visibility: hidden;
    }
 

   
}
@media screen and (max-width:644px){
    .title{
        
     
    }
    .title-text{
        font-size: 20vw;
    }
    .description-title{
        font-size: 2.4rem;
        text-align: center;
     
    }
.description-text{
    display: none;
}
.button {
    width: 100%;
}
.Img-charizard{

    
    transform: translate(-45%, -60%);
}
   


   
}


